<h1 class="title" [ngStyle]="style.header">
  {{title}}
</h1>

<div class="container-fluid">

  <accordion>
    <accordion-group class="text-center h1" heading="{{ambient.temperature}}°F / {{ambient.humidity}}%">
      <div class="row">
        <div class="col-xs-12">
          <div style="display: block;">
            <canvas baseChart
                    [datasets]="lineChartData"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [labels]="lineChartLabels"
                    [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div>
    </accordion-group>
  </accordion>
  <br>
  <div *ngFor="let outlet of outlets" class="row">
    <div class="outlet" [ngStyle]="style.row">
      <div class="col-xs-6">
        <label class="outlet-description">{{outlet.description}}</label>
      </div>
      <div class="col-xs-6">
        <div class="btn-group pull-right">
          <label
            class="btn btn-primary off-button"
            btnRadio="Off"
            [(ngModel)]="outlet.value"
            (click)="changeOutlet(outlet.headerNum, 0)">Off</label>
          <label
            class="btn btn-primary on-button"
            btnRadio="On"
            [(ngModel)]="outlet.value"
            (click)="changeOutlet(outlet.headerNum, 1)">On</label>
        </div>
      </div>
    </div>
  </div>
</div>



