<h1 class="title" [ngStyle]="style.header">
  {{title}}
</h1>
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-xs-12">
      <div class="col-xs-6 text-center" [ngStyle]="style.temp">
        <h1>{{ambient.temperature}}°F</h1>
      </div>
      <div class="col-xs-6 text-center" [ngStyle]="style.temp">
        <h1>{{ambient.humidity}}%</h1>
      </div>
    </div>
  </div>
  <div *ngFor="let outlet of outlets" class="row">
    <div class="outlet" [ngStyle]="style.row">
      <div class="col-xs-6">
        <label class="outlet-description">{{outlet.description}}</label>
      </div>
      <div class="col-xs-6">
        <div class="btn-group pull-right">
          <label
            class="btn btn-primary off-button"
            btnRadio="Off"
            [(ngModel)]="outlet.value"
            (click)="changeOutlet(outlet.headerNum, 0)">Off</label>
          <label
            class="btn btn-primary on-button"
            btnRadio="On"
            [(ngModel)]="outlet.value"
            (click)="changeOutlet(outlet.headerNum, 1)">On</label>
        </div>
      </div>
    </div>
  </div>
</div>



