body {
  font-size: 16px;
}
.on-button {
  background-color: lightgrey;

  &.active, &.active:hover {
    background-color: limegreen;

  }
}

.off-button {
  background-color: lightgrey;

  &.active, &.active:hover {
    background-color: #e60000;

  }
}

.title {
  border-bottom: 1px solid #337ab7;
  background-color: #337ab7;
  margin-top: 0;
  padding: 10px;
  color: white;
}

.outlet {
  height: 38px;
  margin: 0 20px;
  border-bottom: 1px solid #337ab7;
}

.outlet-description {
  height: 34px;
  line-height: 34px;
}
