body {
  font-size: 16px;
}
.on-button {
  background-color: lightgrey;

  &.active, &.active:hover {
    background-color: limegreen;

  }
}

.off-button {
  background-color: lightgrey;

  &.active, &.active:hover {
    background-color: #e60000;

  }
}
